@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


/* ---- global ----  /*/

.container {
    max-width: 1240px;
    margin: 40px auto;
}


/* ---- navbar ----  /*/

a:visited {
    color: #111;
}

a:hover {
    color: #6C63FF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 2rem;
    list-style-type: none;
}

.nav-logo a {
    text-decoration: none;
    list-style-type: none;
    color: #111;
    font-weight: bold;
}

.nav-logo span {
    text-decoration: none;
    list-style-type: none;
    color: #6C63FF;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.1rem;
}

.site-navigation {
    display: flex;
}

.site-navigation .nav-links {
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
}

span {
    color: #6C63FF;
}


/* ---- Home ----  /*/

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 70px auto;
}

.img1 {
    width: 70%;
}

.texto {
    font-size: 1.2rem;
    width: 300px;
}


/* ---- Formulario ----  /*/

.forms h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 80px;
}

.inputs-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.lorem {
    font-size: 20px;
    text-align: center;
    width: 400px;
    border: 1px solid #111111;
    padding: 15px;
    margin-left: 6%;
    box-shadow: 5px 4px 10px 0px #c4c4c4;
    font-weight: bold;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs-group .inputs input {
    border: 2px solid #6C63FF;
    width: 400px;
    padding: 13px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 5px 4px 10px 0px #c4c4c4;
    margin-bottom: 22px;
    outline: 0;
}

::placeholder {
    color: #111111;
    font-weight: 600;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn-sub {
    color: #6C63FF;
    background: #111111;
    width: 300px;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    font-weight: 600;
    padding: 10px 15px;
    font-size: 1.2rem;
    cursor: pointer;
}


/* ---- Footer ----  /*/

.footer {
    background: #6C63FF;
    padding: 50px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content .nav ul {
    flex-direction: column;
    align-items: flex-start;
}

.footer-content ul li a {
    color: #111111;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}

ul li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.logo-footer {
    color: #111111;
    font-size: 4rem;
    text-decoration: none;
    font-weight: bold;
}

.nav-footer ul li a {
    font-size: 2rem;
    text-align: center;
}